<!-- partner_list.html -->
{% extends 'partnerapp/base.html' %}

{% block title %} Partner List {% endblock %}

{% block content %}
<body>
    <h1>Partner List</h1>
    <table>
        <tr>
            <th> Strategic Verticals </th>
            <th> Primary Partner </th>
            <th> Sub-Agent </th>
            <th> Use Case </th>
            <th> Solution </th>
            <th> OEMs </th>
        </tr>
        {% for partner in partners %}
            {% for subagent in partner.subagents.all %}
                {% for usecase in subagent.usecase_set.all %}
                    {% for solutionassociation in usecase.solutionassociation_set.all %}
                        <tr>
                            <td>
                                {% for vertical_sector in subagent.primary_partner.vertical_sectors.all %}
                                    {{ vertical_sector.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</td>
                            <td>{{ partner.primary_partner.name }}</td>
                            <td>{{ subagent.name }}</td>
                            <td>{{ usecase.name }}</td>
                            <td>{{ solutionassociation.solution.name }}</td>
                            <td>
                                {% for oemassociation in solutionassociation.solution.oemassociation_set.all %}
                                    {{ oemassociation.oem.name }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
</body>
{% endblock %}

<!-- This code will iterate over the partners, sub-agents, use cases, solution associations, and OEM associations to display the relevant information based on the new data schema. -->
