<!-- partner_list.html -->
{% extends 'partnerapp/base.html' %}

{% block title %} Partner List {% endblock %}

{% block content %}
<body>
    <h1>Partner List</h1>
    <table>
        <tr>
            <th> Strategic Verticals </th>
            <th> Primary Partner </th>
            <th> Sub-Agent </th>
            <th> Use Case </th>
            <th> Solution </th>
            <th> OEMs </th>
        </tr>
        {% for association in subagent_associations %}
        <tr>
          <td>
            {% for vertical in association.verticals.all %}
              {{ vertical.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ association.subagent.primary_partner.name }}</td>
          <td>{{ association.subagent.name }}</td>
          <td>{{ association.use_case.name }}</td>
          <td>{{ association.solution.name }}</td>
          <td>{{ association.OEM.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}

<!-- This code will iterate over the partners, sub-agents, use cases, solution associations, and OEM associations to display the relevant information based on the new data schema. -->